<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @blog.summary %>
</p>

<p>
  <b>Contents:</b>
  <%= @blog.contents %>
</p>

<p>
  <b>Author:</b>
  <%= @blog.author %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
