<h1>Listing playerdivs</h1>

<table>
  <tr>
    <th>Division</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playerdivs.each do |playerdiv| %>
  <tr>
    <td><%= playerdiv.division_id %></td>
    <td><%= playerdiv.player_id %></td>
    <td><%= link_to 'Show', playerdiv %></td>
    <td><%= link_to 'Edit', edit_playerdiv_path(playerdiv) %></td>
    <td><%= link_to 'Destroy', playerdiv, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playerdiv', new_playerdiv_path %>
