<%
   seasons = params[:season]
   if seasons.blank?
     seasons = current_season()
     divisions = division_ids(seasons)
   else
     divisions = division_ids(seasons)
     seasons = seasons.to_i
   end

   next_season = seasons + 1
   previous_season = seasons - 1 %>


<h3> Season ending <%= Season.find(seasons).end_date.strftime("%d/%m/%Y") %></h3>

<% if seasons == Season.last.id %>
    <%= link_to "Previous Season", :controller => "pages", :action => "table", :season => previous_season %>
<% elsif seasons == 1 %>
    <%= link_to "Next Season", :controller => "pages", :action => "table", :season => next_season %>
<% else %>
    <%= link_to "Previous Season", :controller => "pages", :action => "table", :season => previous_season %>
    <%= link_to "Next Season", :controller => "pages", :action => "table", :season => next_season %>
<% end %>
<br/>

<% tables = Kaminari.paginate_array(divisions).page(params[:page]).per(5)
   tables.each do |t|
     @results = matches_to_results(t.id) %>
    <p><span style="font-size: 14pt;" ><%= t[:name] %> - </span> See <%= link_to "league", :controller => "pages", :action => "league", :page => params[:page] %></p>
    <table class="league">
      <tr>
        <td width="150px"></td>
        <%
           @results.sort.each do |n|
        %>
            <td>
              <% if signed_in? %><%= link_to Player.find(n[0]).name, :controller => 'players', :action => 'show', :id => n[0] %><% else %><%= Player.find(n[0]).name %><% end %>
            </td>
        <%
           end
        %>
            <th>Score</th>
      </tr>
      <tr>
        <%
           @a = 0
           @results.sort.each do |r|
             @b = 0 %>

            <td style="text-align: left;" width="150px">
              <% if signed_in? %><%= link_to Player.find(r[0]).name, :controller => 'players', :action => 'show', :id => r[0] %><% else %><%= Player.find(r[0]).name %><% end %>
            </td>
            <% @results.sort.each do |r2| %>

                <% if @a == @b %>
                    <td style="background: #708090; text-align: center;" width="20px"></td>
                <% elsif r[1][r2[0]].present? && r[1][r2[0]] == -1 %>
                    <td style="text-align: center;" width="20px">DNP</td>
                <% elsif r[1][r2[0]].present? %>
                    <td style="text-align: center;" width="20px"><%= r[1][r2[0]] %></td>
                <% else %>
                    <td style="text-align: center;" width="20px"></td>
                <% end %>


            <% @b += 1 %>

            <%  end %>
            <% @a += 1 %>
            <td style="background:#708090; color:white; text-align: center;"  width="20px" text-align="right">   <%= r[1][:points]  %> </td>
            </tr>
        <% end %>
        </table>
<% end %>

<%= paginate tables %>