<h1>All Users</h1>

<%= paginate @players %>
<table class="table striped-table">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Mobile</th>
	</tr>
<% @players.each do |u| %>	
	<tr>
		<td><%= link_to u.name, u %></td>
		<td><%= mail_to u.email %></td>
		<td><%= u.phone %></td>
	</tr>
<% end %>
</table>
<%= paginate @players%>